<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="account-content">
			<div class="box-content">
				<div class="list-group">
					<h3 class="toggled">Tài Khoản</h3>
					<ul class="list-unstyled">
						<li><a href="" class="list-group-item">Đăng Nhập</a></li>
						<li><a href="" class="list-group-item">Đăng Ký</a></li>
						<li><a href="" class="list-group-item">Quên Mật Khẩu</a></li>
						<li><a href="" class="list-group-item">Tài Khoản Của Tôi</a></li>
						<li><a href="" class="list-group-item">Sổ Địa Chỉ</a></li>
						<li><a href="" class="list-group-item">Danh Sách Ưa Thích</a></li>
						<li><a href="" class="list-group-item">Lịch Sử Đơn Hàng</a></li>
						<li><a href="" class="list-group-item">Tải Về</a></li>
						<li><a href="" class="list-group-item">Thanh Toán Định Kỳ</a></li>
						<li><a href="" class="list-group-item">Điểm Thưởng</a></li>
						<li><a href="" class="list-group-item">Trả Hàng</a></li>
						<li><a href="" class="list-group-item">Giao Dịch</a></li>
						<li><a href="" class="list-group-item">Bản Tin</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="sidebar">
			<div class="box-content">
				<h3 class="box-content toggled">Thông Tin</h3>
				<ul class="list-unstyled">
					<li><a href="">Về Chúng Tôi</a></li>
					<li><a href="">Thông Tin Giao Hàng</a></li>
					<li><a href="">Chính Sách Bảo Mật</a></li>
					<li><a href="">Điều Khoản &amp; Điều Kiện</a></li>
					<li><a href="">Liên Hệ</a></li>
					<li><a href="">Sơ Đồ Trang</a></li>
				</ul>
			</div>
		</div>
</body>
</html>
