<div class="box mblog section mt-30">
	<div class="box-content">
		<div class="page-title section">
			<h3>Tin tức</h3>
		</div>
		<div class="block_box row">
			<div id="blogcarousel" class="blogs-block  blog-carousel  clearfix"
				data-items="2">

				<div class="blog-block product-layout  col-xs-12">
					<div class="item">
						<div class="blog-info">
							<div class="image">
								<a href=""><img
									src="/assets/user/image/cache/catalog/blogs/14-210.jpg" alt=""
									title="Consectetur adipiscing..." class="img-responsive" /></a>
								<div class="zoom-post">
									<a class="hover-zoom"
										href="/assets/user/image/cache/catalog/blogs/14-1450.jpg"
										data-lightbox="example-set" title="IP14"></a>
									<a class="hover-post" href=""></a>
								</div>
							</div>

						</div>
						<div class="caption blog-description">
							<div class="link_info">
								<span class="block-date">July 05, 2024</span> <span
									class="blog-comment hidden">2 Comments</span>

								<h4 class="">
									<a href="">Giá Iphone 14 giảm mạnh!</a>
								</h4>
								<div class="blog-text">
									<span>Giá giảm 10% so với giá thị trường từ 22.000.000đ còn 19.800.000đ</span>
								</div>
								<a class="blog-read btn-default" onclick="" title="Read more">Read
									more</a>
							</div>
						</div>
					</div>
				</div>

				<div class="blog-block product-layout  col-xs-12">
					<div class="item">
						<div class="blog-info">
							<div class="image">
								<a href=""><img
									src="/assets/user/image/cache/catalog/blogs/sale-210.png" alt=""
									title="SALE" class="img-responsive" /></a>
								<div class="zoom-post">
									<a class="hover-zoom"
										href="/assets/user/image/cache/catalog/blogs/sale-1450.png"
										data-lightbox="example-set" title="Lorem Ipsum Dolo..."></a> <a
										class="hover-post" href=""></a>
								</div>
							</div>

						</div>
						<div class="caption blog-description">
							<div class="link_info">
								<span class="block-date">July 29, 2024</span> <span
									class="blog-comment hidden">1 Comments</span>

								<h4 class="">
									<a href="">Giảm giá sốc!</a>
								</h4>
								<div class="blog-text">
									<span>Ưu đãi khi mua sản phẩm trên 15.000.000 sẽ được giảm 5%</span>
								</div>
								<a class="blog-read btn-default" onclick="" title="Read more">Read
									more</a>
							</div>
						</div>
					</div>
				</div>

				<div class="blog-block product-layout  col-xs-12">
					<div class="item">
						<div class="blog-info">
							<div class="image">
								<a href=""><img
									src="/assets/user/image/cache/catalog/blogs/16-210.png" alt=""
									title="Nam nec rhoncus est ..." class="img-responsive" /></a>
								<div class="zoom-post">
									<a class="hover-zoom"
										href="/assets/user/image/cache/catalog/blogs/16-1450.png"
										data-lightbox="example-set" title="IP16"></a>
									<a class="hover-post" href=""></a>
								</div>
							</div>

						</div>
						<div class="caption blog-description">
							<div class="link_info">
								<span class="block-date">July 15, 2024</span> <span
									class="blog-comment hidden">1 Comments</span>

								<h4 class="">
									<a href="">Ra mắt  mẫu mới!</a>
								</h4>
								<div class="blog-text">
									<span>Iphone 16 sẽ được ra mắt vào cuối năm nay</span>
								</div>
								<a class="blog-read btn-default" onclick="" title="Read more">Read
									more</a>
							</div>
						</div>
					</div>
				</div>

				<div class="blog-block product-layout  col-xs-12">
					<div class="item">
						<div class="blog-info">
							<div class="image">
								<a href=""><img
									src="/assets/user/image/cache/catalog/blogs/gmp-210.png" alt=""
									title="Duis pulvinar augue nisi..." class="img-responsive" /></a>
								<div class="zoom-post">
									<a class="hover-zoom"
										href="/assets/user/image/cache/catalog/blogs/gmp-1450.png"
										data-lightbox="example-set"
										title="GamingPhone"></a> <a class="hover-post"
										href=""></a>
								</div>
							</div>

						</div>
						<div class="caption blog-description">
							<div class="link_info">
								<span class="block-date">July 22, 2024</span> <span
									class="blog-comment hidden">0 Comments</span>

								<h4 class="">
									<a href="">Gaming Phone ưu đãi!</a>
								</h4>
								<div class="blog-text">
									<span>Các dòng gaming phone được giảm 5%</span>
								</div>
								<a class="blog-read btn-default" onclick="" title="Read more">Read
									more</a>
							</div>
						</div>
					</div>
				</div>

				<div class="blog-block product-layout  col-xs-12">
					<div class="item">
						<div class="blog-info">
							<div class="image">
								<a href=""><img
									src="/assets/user/image/cache/catalog/blogs/khc-210.jpg" alt=""
									title="The standard Lorem Ipsum..." class="img-responsive" /></a>
								<div class="zoom-post">
									<a class="hover-zoom"
										href="/assets/user/image/cache/catalog/blogs/khc-1450.jpg"
										data-lightbox="example-set"
										title="KhachHangCu"></a> <a class="hover-post"
										href=""></a>
								</div>
							</div>

						</div>
						<div class="caption blog-description">
							<div class="link_info">
								<span class="block-date">July 15, 2024</span> <span
									class="blog-comment hidden">1 Comments</span>

								<h4 class="">
									<a href="">Ưu đãi khách hàng cũ!</a>
								</h4>
								<div class="blog-text">
									<span>Khách hàng đã từng mua sản phẩm sẽ được giảm 10% cho hóa đơn từ 3.000.000
									
									</span>
								</div>
								<a class="blog-read btn-default" onclick="" title="Read more">Read
									more</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$(document)
			.ready(
					function() {
						const direc = $('html').attr('dir');

						$('.blog-carousel')
								.each(
										function() {
											if ($(this).closest('#column-left').length == 0
													&& $(this).closest(
															'#column-right').length == 0) {
												$(this)
														.addClass(
																'owl-carousel owl-theme');
												const items = $(this).data(
														'items') || 2;
												const sliderOptions = {
													loop : false,
													nav : true,
													navText : [
															'<i class="fa fa-caret-left"></i>',
															'<i class="fa fa-caret-right"></i>' ],
													dots : false,
													items : items,
													responsiveRefreshRate : 200,
													responsive : {
														0 : {
															items : 1
														},
														481 : {
															items : items
														}
													}
												};
												if (direc == 'rtl')
													sliderOptions['rtl'] = true;
												$(this).owlCarousel(
														sliderOptions);
											}
										});
					});
</script>