<div class="box all-products special left-vertical-product">
	<div class="box-heading">
		<div class="box-content">
			<div class="page-title toggled">
				<h3>Hàng sắp về</h3>
			</div>
			<div class="block_box">
				<div id="special-carousel"
					class="box-product  vertical-carousel  clearfix" data-items="1">

					<div class="product-layout  col-xs-12">
						<div class="product-thumb transition clearfix">
							<div class="image">
								<a href=""> <img
									src="/assets/user/image/cache/catalog/products/hw12.jpg"
									alt="iPhone" title="iPhone" class="img-responsive" /> <img
									class="img-responsive hover-img"
									src="/assets/user/image/cache/catalog/products/hw12-1.jpeg"
									title="iPhone" alt="iPhone" />
								</a>
							</div>
							<div class="thumb-description clearfix">
								<div class="caption">
									<h4 class="product-title">
										<a href="">Huawei Nova 12 Ultra</a>
									</h4>
									<p class="price">
										<span class="price-new">13.xxx.xxx đ</span>
									</p>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
