<div id="content" class="col-sm-9">
	<h1 class="page_title title">Liên Hệ Chúng Tôi</h1>
	<div class="row">
		<div class="col-sm-12">
			<h3 class="contact-title">Địa Chỉ Của Chúng Tôi</h3>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 contact-left">
			<div class="content-details">
				<!-- Thông tin vị trí -->
				<div class="location-info">
					<div class="location-title title">
						<i class="fa fa-home"></i> Cửa Hàng Của Bạn
					</div>
					<div class="content-address">116 Nguyễn Huy Tưởng, Đà Nẵng</div>
					<a
						href="https://maps.google.com/maps?q=116+Nguyễn+Huy+Tưởng,+Đà+Nẵng&hl=en-gb&t=m&z=15"
						target="_blank" class="btn btn-info"> <i
						class="fa fa-map-marker"></i> Xem Google Map
					</a>
				</div>
				<!-- Thông tin điện thoại -->
				<div class="phone-info">
					<div class="phone-title title">
						<i class="fa fa-mobile"></i> Điện Thoại
					</div>
					<div class="content-number">123-456-7890</div>
				</div>
				<!-- Thông tin fax -->
				<div class="fax-info">
					<div class="fax-title title">
						<i class="fa fa-fax"></i> Fax
					</div>
					<div class="fax-number">11225553321</div>
				</div>
				<!-- Giờ mở cửa -->
				<div class="openstore-info">
					<div class="open-title title">
						<i class="fa fa-clock-o"></i> Giờ Mở Cửa
					</div>
					<div class="openstore-detail">24/24</div>
				</div>
				<!-- Bình luận -->
				<div class="comment-info">
					<div class="comment-title title">
						<i class="fa fa-comments-o"></i> Bình Luận
					</div>
					<div class="comment-detail">FASmart.</div>
				</div>
			</div>
		</div>
	</div>
</div>
